body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1450px 1100px;
}
form{
    border: solid 1px;
    height: 950px;
    width: 1300px;
    margin-left: 10px;
}
label{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 20px;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 40px;
    width: 100px;
    color: black;
    font-size: 20px;
    background-color: rgb(151, 140, 140);
}
h1{
    text-align: 10px;
    font-size: 30px;
}